*{
    padding: 0;
    margin: 0;
}
html, body{
    font-weight: 500;
    font-size: 1em;
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
.page{
    width: 100%;
    height: 100%;
    background-color: #369;
}
.header,.body{
    text-align: center;
}
.header{
    height: 20%;
}
.body{
    width: 100%;
    height: 70%;
    color: #fff;
    font-weight: 300;
    font-style: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    position: absolute;
}
.title{
    color: #fff;
    text-align: center;
    font-style: 35px;
}
.tips{
    color: rgba(0,0,0,0.5);
}