*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
#menu{
    width: 180px;
    font: 12px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
#menu li{
    list-style: none;
    line-height: 25px;
    margin-left: -1px;
    padding-left: 20px;
}